#
# Copyright 2010 Nexell.
#
# Configuration options for the Nexell VIP (Video Input Processor)

config GRP_NEXELL_VIP
	tristate "VIP (Video Input Processor) for Nexell"
	depends on ARCH_NEXELL

config GRP_NEXELL_VIP_MODULE0
	bool "VIP module 0"
	depends on GRP_NEXELL_VIP
		default y
